.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;   
}

/* ========================================== */

.notasView {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.titulos {
    width: 50em;
    border: 1px solid #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 11.2em;
    background-color: rgba(255, 255, 255, 0.371);
}

.titulos span {
    border: 1px solid #ffffff;
    font-size: 1.2rem;
    font-weight: bold;
    width: 100%;
    text-align: center;
}

/* ========================================== */

.divNota {
    display: flex;
    justify-content: space-around;
    width: 70em;
}

.btnCal {
    width: 8em;
    height: 3.5em;
    margin: auto 0 ;
    background-color: chartreuse;
    border: none;
    border-radius: 5px;
}

.line {
    width: 50em;
    border: 1px solid #d5d5d5;
    display: flex;
    justify-content: space-around;
}

.line p {
    width: 100%;
    text-align: center;
}

/* ========================================== */
